@import "config.less"; 

html {
  background:#14000F;
}

body {  
    font-family: "century gothic";  
    font-size: 11pt;  
   .body_back;
   color:#fff;
  width:90%;
  margin:0 auto;
  margin-top:30px;
}


/*NAV STYLING START*/
body, nav, ul, li, a {
  margin: 0;
  padding: 0;
  list-style:none;
}

body {
  font-family:"Century Gothic";
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
}



.toggleMenu {
  display: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
}

.nav {
  list-style: none;
  *zoom: 1;
  .gradient;
  position: relative;
}

.nav:before, .nav:after {
  content: "";
  display: table;
}

.nav:after {
  clear: both;
}

.nav ul {
  list-style: none;
  width: 10em;
}

.nav a {
  padding: 10px 15px;
  color: #fff;
  *zoom: 1;
}

.nav > li {
  float: left;
  z-index: 200;
}

.nav > li > a {
  display: block;
}

.nav li ul {
  position: absolute;
  left: -9999px;
  z-index: 100;
}

.nav li li a {
  display: block;
  background:  lighten(@theme, 1%);
  position: relative;
  z-index: 100;
  border-top: 1px solid #211F1F;
}

.nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #211F1F;
}

.nav li {
  position: relative;
}

.nav > li.hover > ul {
  left: 0;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

.nav > li > .parent {
background-position: 95% 50%;
}

.nav li li .parent { 
background-image: url("../images/downArrow.png");
background-repeat: no-repeat;
background-position: 95% 50%; 
}

@media screen and (max-width: 800px) {
    
  .active {
    display: block;
  }
  .nav > li {
    float: none;
    border-top: 1px solid #211F1F;
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav > li.hover > ul, .nav li li.hover ul {
    position: static;
  }
  .nav > li > .parent {
    background-position: 95% 50%;
  }
  .nav li li .parent { 
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%; 
  }
}

/*NAV STYLING END*/



.border_none {
  border:none;
}

.label_align {
  text-align:right;
}

.inline > input , .inline > select {
  display:inline;
}


#aside {
  background: darken(@theme, 30%);
  float:right;
  width:35%;
  padding:0px 20px 20px 20px;
  margin:15px 15px 0 0;
}

#header {
  padding:5px 20px 0 20px;
}

#section {
  background: lighten(@theme, 10%);
  color:#000;
  float:left;
  width:51%;
  padding:0px 20px 20px 20px;
  margin:15px 0 0 15px;
}

#section img {
  width:40%;	
	float:right;
	padding:0 10px 10px 10px;
}


#footer {
  clear:both;
  margin:1%;
}


@media all and (min-width:481px) and (max-width:790px) {
  #footer p {
    text-align:center;
  }
  
  #section {
	  text-align:center;
    margin:0 auto;
  }
  
 
}

@media all and (max-width:480px) {
	
body, img {
	text-align:center;
}

#section img {	
	width:50%;
	float:none;
  
	
	
}
  
 
  #section {
    float: none;
    width: 90%;
    margin:0;
    padding:1em;
	
	
  }
  
  #header h2 {
    display:none;
  }
  
  #aside {
    float: none;
    width: 90%;
    margin:0;
    padding:1em;
  }
  
  #aside li {
    font-size:.5em;
    
  }
  
  #name {
	  display:block;
	  margin:auto;
	  text-align:center;
	  width:75%;
  }
  
  #submit {
	display:block;
	margin:auto; 
	text-align:center;
	width:20%;
	
  }
  
  #form {
	  width:100%;
	  text-align:center;
	  margin:auto;	  
  }
  
  #footer p {
    font-size:.8em;
    text-align:center;
    
  }
  
} /******end of 1000px media query*******/